.text_profile {
    margin: 20px 20px 20px 20px;
    border: 5px solid black;
    padding: 10px 10px 10px 10px;
    background: transparent;
    border-radius: 10px;
    transition: 1s;
}
.text_profile h1 {
    color: black;
    opacity: 1;
}
.text_profile:hover {
    color: black;
    /*background-color: silver;*/
    box-shadow: 10px 10px;
    transform: scale(1.1)
}

.App {
}
/*body: '#363537'*/
